page-channels {

.footer{
    margin-bottom: 15px;
}
.footer .item {
  resize: none;
  height: 70px !important;
  width: 80%;
}

.footer button {
  position: absolute !important; 
  bottom: 3px !important;
  right:0 !important;
  width: 15% !important;
  font-size: 36px;
  margin:5px;
}
}
